# Terraform State & Local Cache
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Python / Local Dev
__pycache__/
*.pyc
.venv/
env/
.pytest_cache/
.coverage
htmlcov/

# Decoy Credentials & Keys
.env
*.pem
credentials
lambda_payload.zip
terraform/lambda_payload.zip